/* .app-bar-toolbar .app-logo {
    text-indent: -99px;
    width: 90px;
    padding: 0;
    background-image: url("/app_data/images/logo.jpg");
    background-color: white;
    background-size: auto 40px;
    background-position: center center;
} */